.wrapper{
    width: 80%;
    margin: 0 auto;

}
.breadcrumbs{
    font-family: Rubik, sans-serif;
    font-size: 18px;
    font-weight: 300;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 76px;
}

.breadcrumbs li+li:before {
    color: #616580;
    content: "/";
    padding: 4px;
}


.active{
    color: #616580;
}


@media (max-width: 1024px) {
    .breadcrumbs{
        margin-bottom: 72px;
    }
}

@media (max-width: 768px) {
   .breadcrumbs{
       font-size: 12px;
       margin-bottom: 37px;
   }
}
